{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - À propos{% endblock %}
{% set goodnesses = [
    {
        'goodness': 'Valeur 1',
        'text': 'Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. 
        Curabitur posuere tellus quis lacus convallis tincidunt. 
        Duis efficitur mauris metus, et mollis tortor congue ac. 
        Mauris metus purus, finibus ac commodo vitae, interdum eu ante. 
        Praesent sed aliquam lacus. Duis a tortor at arcu semper interdum in ut magna. 
        Integer fringilla consectetur tellus, congue vehicula libero egestas vitae. 
        Sed blandit faucibus est, a luctus nulla consequat sit amet. 
        Donec congue convallis nulla a ultrices. 
        Cras rhoncus dapibus ipsum in sollicitudin.',
    },
    {
        'goodness': 'Valeur 2',
        'text': 'Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. 
        Curabitur posuere tellus quis lacus convallis tincidunt. 
        Duis efficitur mauris metus, et mollis tortor congue ac. 
        Mauris metus purus, finibus ac commodo vitae, interdum eu ante. 
        Praesent sed aliquam lacus. Duis a tortor at arcu semper interdum in ut magna. 
        Integer fringilla consectetur tellus, congue vehicula libero egestas vitae. 
        Sed blandit faucibus est, a luctus nulla consequat sit amet. 
        Donec congue convallis nulla a ultrices. 
        Cras rhoncus dapibus ipsum in sollicitudin.',
    },
    {
        'goodness': 'Valeur 3',
        'text': 'Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. 
        Curabitur posuere tellus quis lacus convallis tincidunt. 
        Duis efficitur mauris metus, et mollis tortor congue ac. 
        Mauris metus purus, finibus ac commodo vitae, interdum eu ante. 
        Praesent sed aliquam lacus. Duis a tortor at arcu semper interdum in ut magna. 
        Integer fringilla consectetur tellus, congue vehicula libero egestas vitae. 
        Sed blandit faucibus est, a luctus nulla consequat sit amet. 
        Donec congue convallis nulla a ultrices. 
        Cras rhoncus dapibus ipsum in sollicitudin.',
    },
] %}
{% block body %}
<main class="container">
    <div class="row">
        <div class="col text-center">
            <h1>A propos</h1>
        </div>
    </div>
    <div class="presentation my-5 text-center text-xl-start">
        <div class="row flex-column flex-xl-row align-items-center gap-5">
            <div class="col d-none d-md-block">
                <img src="https://via.placeholder.com/550x250?text=Enterprise+Image" class="rounded-1"
                    alt="Image de l'entreprise">
            </div>
            <div class="col d-md-none">
                <img src="https://via.placeholder.com/350x250?text=Enterprise+Image" class="rounded-1" alt="Image de l'entreprise">
            </div>
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam odit sequi perferendis est sit
                    corporis, quaerat eum alias nostrum quae veritatis tempora error, recusandae similique quisquam
                    numquam. Asperiores, sequi ut!
                    Esse consequatur, est voluptates, aspernatur perspiciatis sapiente nesciunt nulla dolore repudiandae
                    explicabo hic accusamus obcaecati. Accusantium ea nulla molestiae autem quis illum totam in corporis
                    mollitia minus, doloremque nihil natus!
                </p>
            </div>
        </div>
    </div>
    <section class="goodness my-5">
        <div class="row justify-content-between">
            {% for goodness in goodnesses %}
                <div class="col-3">
                    <h3 class="text-center mb-2">{{ goodness.goodness }}</h3>
                    <p>{{ goodness.text }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}