{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - À propos{% endblock %}

{% block body %}
<main class="container">
    <div class="row">
        <div class="col text-center">
            <h1>A propos</h1>
        </div>
    </div>
    <div class="presentation my-5 text-center text-xl-start">
        <div class="row flex-column flex-xl-row align-items-center gap-5">
            <div class="col d-none d-md-block">
                <img src="https://via.placeholder.com/550x250?text=Enterprise+Image" class="rounded-1"
                    alt="Image de l'entreprise">
            </div>
            <div class="col d-md-none">
                <img src="https://via.placeholder.com/350x250?text=Enterprise+Image" class="rounded-1" alt="Image de l'entreprise">
            </div>
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam odit sequi perferendis est sit
                    corporis, quaerat eum alias nostrum quae veritatis tempora error, recusandae similique quisquam
                    numquam. Asperiores, sequi ut!
                    Esse consequatur, est voluptates, aspernatur perspiciatis sapiente nesciunt nulla dolore repudiandae
                    explicabo hic accusamus obcaecati. Accusantium ea nulla molestiae autem quis illum totam in corporis
                    mollitia minus, doloremque nihil natus!
                </p>
            </div>
        </div>
    </div>

</main>
{% endblock %}