{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block body %}
<div class="pink-stripe">
    <h1 class="text-center m-5">
        Nos services
    </h1>
    {% include 'items/_services-cards.html.twig' %}
</div>
{% endblock %}
