{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}


{% block body %}
<div class="pink-stripe">
    <h1 class="text-center">
        Nos services
    </h1>
    {% include 'home/_services-cards.html.twig' %}
</div>
{% endblock %}