<h1>Veuillez confirmer votre adresse email</h1>

<p>
    S'il vous plaît veuillez confirmer votre adresse email en cliquant sur le lien ci-dessous <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci beaucoup !
</p>
