<form method="post" action="{{ path('admin_service_delete', {'id': service.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce service ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
	<button class="btn btn-danger px-3 py-1">
		<i class="bi bi-trash text-light"></i>
	</button>
</form>
