{{ form_label(form.name, 'Compétence') }}
{{ form_widget(form.name) }}
{{ form_errors(form.name) }}
<div class="form-group">
	<button type="button" class="btn btn-danger btn-remove mt-3 my-5">X</button>
</div>
