{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	- Softskills
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
            {{ form_start(form) }}
            <button type="button" class="btn btn-primary" id="new-softskill">+</button>
            {{ form_widget(form) }}
            <button type="button" class="btn btn-secondary ">Envoyer</button>
            {{ form_end(form) }}
            </div>
		</div>
	</div>
{% endblock %}
