{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="container my-5">
<div class=" fs-4 my-3 text-secondary"> E-mail de réinitialisation du mot de passe envoyé</div>
    <p>
        Si un compte correspondant à votre adresse e-mail, l'e-mail de réinitialisation vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email, veuillez vérifier votre dossier spam ou réessayer <a href="{{ path('app_forgot_password_request') }}"> (essayer à nouveau)</a>.</p>
</div>
{% endblock %}
