<h2 class="text-center company m-5" id="company">Aux entreprises</h2>
<div class="d-flex flex-column mb-5">
	<div class="img-services-div mb-5 d-flex justify-content-center">
		<img src="{{ asset('build/images/services-company.jpg') }}" class="img-services img-fluid" alt="services pour entreprises">
	</div>
	<div class="row d-flex justify-content-around mt-5">
		{% for category in categories|filter(category => category.type == 'company') %}
			<div class="col-11 col-lg-5 mt-0">
				<div class="card service-card my-5">
					<div class="card-header text-center fw-bold py-3 service-head head-company text-light">
						{{ category.title }}
					</div>
					<div class="card-body service-body body-company py-md-3 px-md-4 p-lg-4">
						<ul class="list-unstyled">
							{% for service in category.services %}
								<li>
									<i class="serviceIcon bi bi-arrow-right-circle-fill me-3 text-primary"></i>
									{{ service.title }}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
