{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	Services
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('services') }}
{% endblock %}
{% block body %}
	<h1 class="text-center my-5" id="services">Nos services</h1>
	{% include 'services/_particular-services.html.twig' %}
	{% include 'services/_company-services.html.twig' %}
{% endblock %}
