@import "variables.scss";

.bi{
    font-size: 1.2rem;
}

th{
    color: $light;
}

.card-title{
    color: $light;
}

li i{
    color: $secondary;
}

.date{
    color: $secondary;
    opacity: 50%;
}

.bi-calendar {
    font-size: 1rem;
}

.paging .forward, .paging .backward {
    height: 38px;
}
