@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    background-color: $light;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $title-family;
}



p {
    font-family: $text-family;
    font-size: $text-size;
}
