@import "variables.scss";

.card {
    box-shadow: $shadow-card;
}

.companyDetails,
.companyContact {
    line-height      : $line-height;
    font-family      : $text-family;
    font-size        : $text-size;
    scroll-margin-top: 5em;
}

.companyNetwork {
    transition : color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-family: $text-family;
    font-size  : $text-size;
    color      : $dark-primary;

    &:hover {
        color: $secondary;
    }
}

.bi {
    color    : $primary;
    font-size: 1.2rem;
}