@import "variables.scss";

.card {
    box-shadow: $shadow-card;
}

h2 {
    border-bottom: 4px solid $secondary;
}

.companyDetails,
.companyContact {
    line-height: $line-height;
    font-family: $text-family;
    font-size: $text-size;
    scroll-margin-top: 5em;
}

.companyNetwork {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-family: $text-family;
    font-size: $text-size;
    color: $dark-primary;

    &:hover {
        color: $secondary;
    }
}

.bi {
    color: $primary;
    font-size: 1.2rem;
}

.bi-facebook {
    color: #39569c;
}

.bi-linkedin {
    color: #0e76a8;
}

.bi-instagram {
    color: #cd486b;
}

.bi-globe {
    color: #000000;
}

.bi-pencil-square {
    color: $primary;
    font-size: 1.8rem;

    &:hover {
        color: $secondary;
    }
}

.comment {
    color: rgb(128, 4, 4);
    text-decoration: none;

    &:hover {
        color: rgb(128, 4, 4);
        text-decoration: none;
    }
}
