@import "variables.scss";
.map {
    width: 13em;
    height: 9em;
    border-radius: 5px;
}

.btn {
    color: $light;
    border: none;

    &:hover {
        background-color: $dark-primary;
        border: none;
        color: $light;
    }
}
