.map {
    width: 13em;
    height: 9em;
    border-radius: 5px;
}

.btn-contact {
    float: right;
}

@media (min-width: 600px) and (max-width: 1200px) {
    .map {
        width: 10em;
        height: 9em;
    }
}
