@import "variables.scss";

.footer {
    font-family: $text-family;

    .footerImage {
        width     : 130px;
        filter    : brightness(0) invert(1);
        transition: filter 0.15s ease-in-out;

        &:hover {
            filter: none;
        }
    }

    .linkedinQR {
        width: 70px;
    }

    a {
        color     : $light;
        transition: color 0.15s ease-in-out;

        &:hover {
            color: $secondary;
        }
    }
}