@import "variables.scss";

#soft_skills_softskills fieldset,
#hobbies_hobbies fieldset {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#soft_skills_softskills fieldset button,
#hobbies_hobbies fieldset button,
#candidate_experience_experiences fieldset button {
    width: 37px;
    height: 37px;
    align-self: end;
    margin-block-end: 17px;
    background-image: url("../images/trash.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#soft_skills_softskills fieldset div,
#hobbies_hobbies fieldset div {
    width: 100%;
}

.title h2 {
    font-family: $title-family;
}
