@import "variables.scss";

.container-service {
    margin-block-end: 150px;
    margin-block-start: 80px;
}

.card-home-service {
    height: 700px;
    box-shadow: $shadow-card;
    font-size: $text-size;
    line-height: 32px;
}

.card-home-service h3 {
    color:$primary;
}

.card-home-service a {
    text-decoration: none;
    color: $secondary;
}

.card-home-service a:hover {
    color: $light;
}

.card-home-service a:active {
    border:none;
}

.card-home-service img {
    height: calc( 100% / 3);
    object-fit: cover;
}