@import "variables.scss";

.card-text{
    background-color: $dark-primary;
    color: $light;
}

.link-connection {
    color      : $primary;
    text-decoration: none;

    &:hover {
        color: $secondary;
    }
}