@import "variables.scss";

.card {
    box-shadow: $shadow-card;
}

h2 {
    border-bottom: 4px solid $primary;
}

.candidateSkills,
.candidateExperiences,
.candidateFormations,
.documents,
.candidateDetails,
.softskills,
.hobbies ul,
.languages {
    line-height: $line-height;
    font-family: $text-family;
    font-size: $text-size;
}

.questions h3 {
    line-height: calc($line-height * 60 / 100);
    color: $primary;
    font-family: $title-family;
    color: red;
}

.bi {
    color: $secondary;
    font-size: 1.2rem;
}

#candidateDetails,
#candidateSkills,
#candidateFormations,
#candidateExperiences,
#candidateSoftSkills,
#candidateLanguages,
#candidateHobbies,
#candidateComplementaryQuestions {
    scroll-margin-top: 5em;
}

.bi-pencil-square {
    color: $secondary;
    font-size: 1.8rem;

    &:hover {
        color: $primary;
    }
}

.comment {
    color: rgb(128, 4, 4);
    text-decoration: none;

    &:hover {
        color: rgb(128, 4, 4);
        text-decoration: none;
    }
}
