@import "variables.scss";

.card {
    box-shadow: $shadow-card;
}

.softskills, .hobbies ul, .questions h3{
    line-height:$line-height;
    font-family: $text-family;
    font-size: $text-size;
}

.questions h3 {
    line-height:calc( $line-height * 60 / 100);
    color:$primary;
}
