@import "variables.scss";

.card {
    box-shadow: $shadow-card;
}

.softskills,
.hobbies ul,
.languages {
    line-height: $line-height;
    font-family: $text-family;
    font-size  : $text-size;
}

.questions h3 {
    line-height: calc($line-height * 60 / 100);
    color      : $primary;
}

.bi {
    color    : $secondary;
    font-size: 1.2rem;
}

#candidateDetails,
#candidateSkills,
#candidateFormations,
#candidateExperiences,
#candidateSoftSkills,
#candidateLanguages,
#candidateHobbies,
#candidateComplementaryQuestions {
    scroll-margin-top: 5em;
}

.bi-pencil-square {
    color    : $primary;
    font-size: 1.8rem;

    &:hover {
        color: $secondary;
    }
}

embed{
    height: 9rem;
    width: 24rem;
}