@import 'variables.scss';

.service-card {
    border    : none;
    box-shadow: $shadow-card;
}

.body-particular {
    min-height: 300px;
    height    : auto;
}

.body-company {
    min-height: 250px;
    height    : auto;
}

.service-head {
    background-color: $primary;
    font-family     : $text-family;
    font-size       : 20px;
}

.service-body ul {
    font-size  : 16px;
    line-height: $line-height;
}

.serviceIcon {
    font-size: 1.2rem;
}

.particular {
    color: $secondary;
    scroll-margin-top: 80px;
}

.company {
    color: $primary;
    scroll-margin-top: 80px;
}

.head-company {
    background-color: $secondary;
}

.body-company svg {
    fill: $primary;
}

.img-services {
    width     : 100%;
    object-fit: cover;

}

.img-services-div {
    height: 500px;
}

.arrow {
    fill: $primary;
}

.arrow:hover {
    fill: $secondary;
}