@import "variables.scss";

.sideMenu {
    width           : 17vw;
    height          : 100vh;
    background-color: $dark-primary;
    position: sticky;
    top: 76px;
    left: 0;

    h2 {
        border-bottom: 2px solid $secondary;
    }

    .navbar-nav {

        .nav-link {
            color      : $light;
            font-family: $title-family;

            &:hover {
                color: $secondary;
            }
        }
    }
}