@import "variables.scss";

.sideMenuCompany {
    width : 17vw;
    height: 100vh;

    h2 {
        border-bottom: 2px solid $secondary;
    }

    .navbar-nav {

        .nav-link {
            color      : $light;
            font-family: $title-family;

            &:hover {
                color: $secondary;
            }
        }
    }
}