@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap");

$light: #fffdf9;
$primary: #0e4d94;
$secondary: #e8a006;
$light-secondary: #e4a74b;
$dark-primary: #1a2f5b;
$text-size: 1rem;
$title-family: "Sulphur Point", sans-serif;
$text-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
$shadow-card: 4px 4px 6px rgb(189, 189, 189);
