{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<div class="container">
		{% include "candidat//components/_contactDetails.html.twig" %}
	</div>
{% endblock %}
