{% extends "base.html.twig" %}

{% block title %}
	{{ company.denomination }}
{% endblock %}

{% block body %}
	<h1>Modifier vos informations</h1>

	{{ include('company/components/_formCompanyContact.html.twig', {'button_label': 'Valider'}) }}

	<a href="{{ path('company_show', {id: company.id}) }}">Annuler</a>

{% endblock %}
