{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	- Mon entreprise
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('companyProfile') }}
{% endblock %}

{% block body %}
	<div class="container my-5">
		{% include "company/components/_companyDetails.html.twig" %}
		{% include "company/components/_companyContact.html.twig" %}
		{% include "company/components/_companyNeed.html.twig" %}
	</div>
{% endblock %}
