{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	-
	{{ company.denomination }}
	Profil
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('companyProfile') }}
	{{ encore_entry_link_tags('sideMenu') }}
{% endblock %}

{% block body %}

	<div class="d-flex">
		{% include "company/components/_SideMenuCompany.html.twig" %}
		<div class="container my-5">
			<h1 class="text-center mb-4">Mon entreprise</h1>
			{% include "company/components/_companyDetails.html.twig" %}
			{% include "company/components/_companyContact.html.twig" %}
			{% include "company/components/_companyNeed.html.twig" %}
		</div>
	</div>
{% endblock %}
