{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ encore_entry_link_tags('sideMenu') }}
{% endblock %}

{% block main %}
	<div class="d-flex">
		{% block navbarAdmin %}
			{% include "items/_sideMenuAdmin.html.twig" %}
		{% endblock %}
		{% block body %}{% endblock %}
	</div>
{% endblock %}
