<div class="row documents mt-5 d-lg-block d-flex justify-content-center" id="documents">
	<div class="card card-documents p-4 col-lg-6 col-10 offset-lg-3">
		<div class="d-flex mt-2 justify-content-between">
			<h2 class="card-title text-primary ms-3 pt-1">Documents</h2>
			{% if is_granted("ROLE_ADMIN") == false %}
				<a class="btn fs-6 bi bi-pencil-square pt-2" href="{{ path('candidate_edit_document', {'user': candidate.user}) }}">
					Modifier</a>
			{% endif %}
		</div>
		<ul class="list-unstyled mt-3">
		<h3 class="mx-3 mt-3 text-secondary fs-5"> Vous pouvez transférer ici vos CV, lettre de motivation, recommandation, portfolio, diplômes et autres documents que vous jugez utile pour vos candidatures. </h3>
			{% for additionaldocument in candidate.additionaldocuments %}
				<div>
					<i class="bi bi-file-earmark-arrow-up-fill mx-3"></i>
					<a href="{{ vich_uploader_asset(additionaldocument) }}" alt="{{ additionaldocument.name }}"> {{ additionaldocument.name }}</a>
				</div>
			{% else %}
				<p class="mx-3">Aucune information disponible.</p>
			{% endfor %}
		</ul>
	</div>
</div>
