<div class="container">
	<div class="row documents mt-5" id="documents">
		<div class="card card-documents p-4 col-md-6 offset-md-3">
			<a class="btn btn-outline-light ms-5 align-self-end fs-6  bi bi-pencil-square" href="{{ path('candidate_edit_document', {'user': candidate.user}) }}">
				Modifier</a>
			<h2 class="card-title text-primary text-center mt-3 pt-2 px-4">Documents</h2>
			<ul class="list-unstyled mt-3">

				{% for additionaldocument in candidate.additionaldocuments %}
					<div>
						<i class="bi bi-file-earmark-arrow-up-fill mx-3"></i>
						{{ additionaldocument.name }}
					</div>

				{% else %}
					<p class="mx-3">Aucune information disponible.</p>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
