<div class="container">
	<div class="row languages mt-5" id="candidateLanguages">
		<div class="card card-languages p-4 col-md-6 offset-md-3">
			{% if not is_granted("ROLE_ADMIN") and is_granted("ROLE_CANDIDATE") %}
				<a class="btn btn-outline-light ms-5 align-self-end fs-6  bi bi-pencil-square" href=" {{ path('candidate_edit_languages', {'user': candidate.user}) }} ">
					Modifier</a>
			{% endif %}
			<h2 class="card-title text-primary text-center mt-3 pt-2 px-4">Langues étrangères</h2>
			<ul class="list-unstyled mt-3 languages">
				{% for language in candidate.candidateLanguages %}
					<li>
						<i class="bi bi-check-lg mx-3 "></i>
						{{ language.name|language_name('fr')|capitalize }}</li>
				{% else %}
					<p class="mx-3">Aucune information disponible.</p>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
