<nav class="sideMenu d-md-flex d-sm-none flex-column justify-content-start align-items-start overflow-auto">
	<h2 class="text-light fs-3 mt-4 px-4 pb-4 text-break">{{ candidate.user.firstname }}
		{{ candidate.user.lastname }}</h2>
	<div class="navbar-nav mt-4 px-4">
		<a class="nav-link fs-5 my-1 d-flex" href="#candidateDetails">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Coordonnées
		</a>
		<a class="nav-link fs-5 my-1 d-flex" href="#candidateSkills">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Compétences
		</a>
		<a class="nav-link fs-5 my-1 d-flex" href="#candidateFormations">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Formations
		</a>
		<a class="nav-link fs-5 my-1 d-flex" href="#candidateExperiences">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Expériences
		</a>
		<a class="nav-link fs-5 my-1 d-flex" href="#candidateSoftSkills">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Soft skills
		</a>
		<a class="nav-link fs-5 my-1 d-flex" href="#candidateLanguages">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Langues étrangères
		</a>
		<a class="nav-link fs-5 my-1 d-flex" href="#candidateHobbies">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Centres d'intérêt
		</a>
		<a class="nav-link fs-5 my-1 d-flex" href="#candidateComplementaryQuestions">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>
			<div>Questions complémentaires</div>
		</a>
		<a class="nav-link d-flex fs-5 my-1 d-flex" href="#documents">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>
			<div>Documents</div>
		</a>
	</div>
</nav>
