<div class="row softskills mt-5 d-lg-block d-flex justify-content-center" id="candidateSoftSkills">
	<div class="card card-softskills  p-4 col-lg-6 col-10 offset-lg-3 ">
		<div class="d-flex mt-2 justify-content-between">
			<h2 class="card-title text-primary ms-3 pt-1">Soft skills</h2>
			{% if is_granted("ROLE_ADMIN") == false %}
				<a class="btn fs-6 bi bi-pencil-square pt-2" href="{{ path('candidate_softskill_edit', {'user': candidate.user}) }}">
					Modifier</a>
			{% endif %}
		</div>
		<ul class="list-unstyled mt-3">
			{% for softskill in candidate.softSkills %}
				<li>
					<i class="bi bi-check-lg mx-3 "></i>
					{{ softskill.name }}</li>
			{% else %}
				<p class="mx-3">Aucune information disponible.</p>
			{% endfor %}
		</ul>
	</div>
</div>
