<div class="row softskills mt-5" id="candidateSoftSkills">
	<div class="card card-softskills p-4 col-md-6 offset-md-3">
		{% if not is_granted("ROLE_ADMIN") %}
			<a class="btn btn-outline-light ms-5 align-self-end fs-5  bi bi-pencil-square" href=" {{ path('candidate_softskill_edit', {'user': candidate.user}) }} ">
				Modifier</a>
		{% endif %}
		<h2 class="card-title text-primary text-center mt-3 pt-2 px-4">Soft skills</h2>
		<ul class="list-unstyled mt-3">
			{% for softskill in candidate.softSkills %}
				<li>
					<i class="bi bi-check-lg mx-3 "></i>
					{{ softskill.name }}</li>
			{% else %}
				<p class="mx-3">Aucune information disponible.</p>
			{% endfor %}
		</ul>
	</div>
</div>
