{% extends "base.html.twig" %}

{% block body %}
	<main class="container my-5">
		<h1 class="my-5 text-center">CONDITIONS GENERALES DE VENTE APPLICABLES AU 01/01/2022</h1>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 1 - OBJET</h2>
			<p>Les conditions générales de vente (CGV) décrites ci-après, détaillent les droits et obligations de la
				EURL INOSEARCH (CERHA), représentée par M. Kevin HIDALGO et M. Lionel DUBOS, et de son
				Client, dans le cadre de ses prestations de Conseil et d'accompagnement dans le domaine de la
				gestion, coaching et formation en développement de la Ressource Humaine.</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 2 - APPLICATION</h2>
			<p>Toute commande implique, pour devenir ferme et définitive, l'adhésion entière et sans réserve du
				Client aux présentes CGV, qu'il déclare avoir lues, comprises et acceptées. Aucune condition
				particulière ou générale d'achat, ne peut, sauf accord express et écrit des deux parties, prévaloir sur
				les présentes CGV.</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 3 - PRESTATIONS</h2>
			<p>La EURL INOSEARCH (CERHA), propose des prestations occasionnelles, ponctuelles ou régulières de
				Conseil, coaching et d'accompagnement dans le domaine de la gestion et Formation en
				développement de la Ressource Humaine aux entreprises et aux particuliers.</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 4 - LIEU ET DUREE D'INTERVENTION</h2>
			<p>Les prestations sont réalisées depuis le siège la EURL INOSEARCH (CERHA), à distance par le moyen
				d'outil de communication (visioconférence, téléphone) ou sur le site du client. A la demande du
				client, les prestations de formation peuvent être réalisées dans les locaux des Clients ou dans une
				salle de formation organisée et aménagée pour accueillir du public.</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 5 - DEVIS ET VALIDITE DES COMMANDES</h2>
			<p>Toute demande de prestation adressée par la EURL INOSEARCH (CERHA) donne lieu à
				l'établissement d'un devis personnalisé, gratuit et sans engagement, détaillant la prestation à
				effectuer sur la base des informations communiquées par le Client. Aucune commande ne sera
				considérée ferme et définitive sans le retour par courrier postal ou électronique, ou remise en main
				propre du devis signé et portant la mention manuscrite « Bon pour accord ». A défaut de confirmation de sa commande selon les modalités définies ci-dessus dans un délai de 15 jours à
				compter de la date d'envoi du devis, ce dernier sera réputé caduc.</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 6 - TARIFS</h2>
			<p>Les tarifs appliqués sont ceux en vigueur au jour de la prise de commande. Les prix peuvent être
				calculés à la tâche, au temps passé ou au forfait. Ils sont exprimés en euros et sont soumis à la TVA
				(20%). Le tarif final pourra varier en fonctions des exigences particulières que requièrent les
				prestations, soit en faveur du Client, soit en faveur de la EURL INOSEARCH (CERHA). Ainsi, les tarifs
				indiqués sur les supports de communication de la EURL INOSEARCH (CERHA) ne sont donnés qu'à
				titre indicatif et ne remplacent aucunement un devis personnalisé en bonne et due forme. Les tarifs
				seront majorés des éventuels frais d'affranchissement, d'impression, de fournitures particulières
				applicables au jour de la commande. Pour toute commande d'une prestation d'envoi en nombre,
				une provision correspondant aux frais d'affranchissement au tarif en vigueur sera demandée. Les
				tarifs sont révisables au 1er janvier de chaque année.
				Toutefois, la EURL INOSEARCH (CERHA) se réserve le droit de modifier ses tarifs à tout moment,
				sans avis préalable.</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 7 - DROIT DE RETRACTATION ET ANNULATION</h2>
			<p>Le client dispose d'un délai de 14 jour ouvrable suivant la date de la signature du devis et
				uniquement s'il est prévu un début d'exécution de la prestation postérieur à ce délai de 14 jours.
				L'annulation devra être notifiée par écrit à la EURL INOSEARCH (CERHA) et aucun frais ne sera
				facturé au Client. En cas d'annulation par le client d'une commande en cours d'exécution, ce
				dernier s'engage à régler la totalité de la prestation déjà effectuée, et ce quel que soit le motif de
				l'annulation.</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 8 - MODALITES DE REGLEMENT</h2>
			<p>La EURL INOSEARCH (CERHA) établit une facture à chaque fin de mission pour les interventions
				ponctuelles, ou une facture mensuelle pour les interventions régulières. Aucun escompte n'est
				applicable en cas de paiement anticipé. Le règlement s'effectue à réception de facture, par chèque
				bancaire ou postal à l'ordre de EURL INOSEARCH (CERHA) ou par virement bancaire selon les
				données communiquées sur la facture.</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 9 - PENALITES DE RETARD DE PAIEMENT</h2>
			<p>Conformément à l'article L441-6 du Code de Commerce, tout défaut de paiement à l'échéance
				entrainera une pénalité de retard égale à trois (3) fois le taux d'intérêt légal en vigueur et sera
				exigible sans aucune mise en demeure préalable. Cette pénalité sera calculée sur la base du
				montant toutes taxes comprises restant dû et court de plein droit le jour suivant la date de
				règlement mentionnée sur la facture. En cas de recouvrement par voie judiciaire, le Client
				supportera tous les frais de mise en demeure et de contentieux et ce, sans préjudice de tous
				dommages et intérêts ou indemnités que EURL INOSEARCH (CERHA) pourrait réclamer.
				Conformément au décret n°2012-1115 du 2 octobre 2012, une indemnité forfaitaire de 40€ sera
				due pour frais de recouvrement. EURL INOSEARCH (CERHA) se réserve le droit de suspendre ou de
				résilier toutes les commandes ou contrats en cours faisant suite à l'envoi d'une mise en demeure
				restée sans effet.</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 10 - CONFIDENTIALITE</h2>
			<p>EURL INOSEARCH (CERHA) s'engage à respecter strictement la confidentialité de tous les
				documents, informations, données ou concepts dont elle pourrait avoir connaissance avant,
				pendant ou après la réalisation de sa prestation, ainsi que du contenu des travaux commandés et
				réalisés. La responsabilité de EURL INOSEARCH (CERHA) ne peut être engagée en raison d'une
				interception ou d'un détournement des informations lors du transfert des données, notamment par
				internet. Par conséquent, il appartient au Client, lors de sa commande, d'informer EURL
				INOSEARCH (CERHA) des moyens de transfert qu'il souhaite voir mis en œuvre afin de garantir la
				confidentialité de toute information à caractère sensible. A défaut, le Client est invité à signer la
				RGPD de EURL INOSEARCH (CERHA) pour utiliser et transmettre ces informations au travers de son
				espace client sur le site internet cerha.fr.</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 11 - TRAITEMENT DES DONNEES A CARACTERE PERSONNEL</h2>
			<p>Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, le Client
								bénéficie d'un droit d'accès, de rectification et de suppression aux informations qui le concernent,
								que celui-ci peut exercer en s'adressant par courrier ou par mail à M. Kevin HIDALGO ou M. Lionel
								DUBOS.</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 12 - RESPONSABILITE ET CAS DE FORCE MAJEUR</h2>
			<p>Chacune des parties déclare souscrire et maintenir à jour une assurance en Responsabilité Civile
				Professionnelle auprès d'une compagnie notoirement solvable EURL INOSEARCH (CERHA) mettra en
				œuvre tous les moyens nécessaires mis à sa disposition pour prendre soin et préserver les fichiers
				informatiques et autres documents qui lui seront confiés par le Client pour les besoins de la
				prestation commandée. Toutefois, compte tenu des risques de dommage, de détérioration ou de
				perte encourus par ce moyen de transmission, il appartiendra au Client de s'en prémunir par tous
				moyens à sa convenance, qui décharge en conséquence EURL INOSEARCH (CERHA) de toute
				responsabilité. De même, le Client décharge EURL INOSEARCH (CERHA) de toute responsabilité en
				cas de perte de bénéfice ou trouble commercial, et la garantit contre tout recours susceptible
				d'être intenté à son encontre de ce fait. La responsabilité de EURL INOSEARCH (CERHA) ne pourra
				être mise en œuvre si la non-exécution ou le retard dans l'exécution de l'une de ses obligations
				décrites dans les présentes CGV découle d'un cas de force majeure. Celui-ci s'entend de tout
				événement extérieur, imprévisible et irrésistible (art 1148 du Code Civil).</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 13 - PROPRIETE INTELLECTUELLE</h2>
			<p>Avant de soumettre à EURL INOSEARCH (CERHA) tous documents (textes, images, éventuels
				Copyrights) ou informations nécessaires à la réalisation de la prestation commandée, le Client doit
				s'assurer qu'il en a le droit. A défaut, EURL INOSEARCH (CERHA) ne pourra en aucune façon être
				tenue pour responsable si tout ou partie des documents confiés par le Client venait à enfreindre le
				droit de propriété intellectuelle ou tout autre droit d'un tiers ou toute réglementation applicable.
				Le cas échéant, le client assumerait seul les éventuels dommages et les conséquences financières
				qui découleraient de sa seule négligence.</p>
		</section>
		<section class="col-md-8 offset-md-2 my-5">
			<h2 class="text-primary">ARTICLE 14 - DROIT APPLICABLE ET JURIDICTION COMPETENTE</h2>
			<p>Tout litige relatif à l'application ou à l'interprétation des présentes CGV est soumis au droit français. A défaut de résolution amiable, le litige sera porté devant le tribunal d'Orléans. Les Conditions Générales de Vente pouvant être modifiables à tout moment, seule la date de
				réception du contrat ou du devis signé sera prise en considération pour l'application des présentes.</p>
		</section>

	</main>
{% endblock %}
