{% extends "base.html.twig" %}

{% block body %}
	<h1 class="text-center my-5">Mentions légales </h1>
	<main class="container my-5">
		<div class=" col-8 offset-2">
			<header>
				<p>Le site CERHA, accessible à l’adresse suivante : www.cerha.fr (ci-après « le site ») est
						destiné à l’information personnelle des internautes qui l’utilisent. L’accès et l’utilisation du
						site sont soumis aux présentes « mentions légales » détaillés ci-après ainsi qu’aux lois et/ou
						règlements applicables.
						La connexion et l’accès à ce site impliquent l’acceptation intégrale et sans réserve de
						l’internaute de toutes les dispositions des présentes mentions légales.</p>
			</header>
			<section class="my-5">
				<h2 class="text-primary fs-3">Article 1. Informations légales</h2>
				<p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans
						l’économie numérique, il est précisé dans cet article l’identité des différents intervenants dans
						le cadre de sa réalisation et de son suivi.</p>
				<ul>
					<li>La société Inosearch (dont Cerha est la représentation commerciale) a son siège social
							à l’adresse suivante : 12 rue du vivier, 45140 Ormes, et immatriculé au RCS de
							Orléans 88121207000018. Adresse Mail : contact@inosearch.fr</li>
					<li>La société Centaurian Disease Consulting – CDC (dont CERHA est la représentation
							commerciale spécifique) a son siège à l’adresse suivante : 1 rue du Champ de Foire,
							45720 Coullons, et immatriculation en cours auprès du cabinet Cerfrance Orléans.
							Adresse Mail : lionel.d@c-d-c.fr</li>
				</ul>
				<p>Les directeurs de la publication sont Kevin HIDALGO et Lionel Dubos,
						Ci-après le « directeurs de publication »</p>

				<h3 class="text-primary fs-4">Le site CERHA est hébergé par :</h3>
				<p>OVH, ci-après « l’hébergeur »</p>
				<h3 class="text-primary fs-4">Le développeur du site CERHA est :</h3>
				<ul><li>Thibault Fouré, Nathan Chapelle, Rachida Bsir, Estelle Weisgerber (Wild Code Shcool) ci-après « les développeurs »</li></ul>

				<p>Sont considérés comme utilisateurs tous les internautes qui naviguent, lisent et utilisent le site
						CERHA.
						Ci-après l’« utilisateur »</p>
			</sectionclass="my-5">

			<section class="my-5">
				<h2 class="text-primary fs-3">Article 2. Collecte de données de l’utilisateur et respect de loi informatique et liberté</h2>
				<p>Ce site est conforme aux dispositions de la loi 78*17 du 6 janvier 1978 relative à
						l’informatique, aux fichiers et aux libertés. En vertu de celle-ci, l’utilisateur bénéficie
						notamment d’un droit d’opposition (Art32 et 38), d’accès (art.38 et 39) et de rectification
						(art.40) des données le concernant.</p>
				<p>Pour faire usage de celui-ci, l’utilisateur doit s’adresser aux directeurs de la publication en le
						contactant à l’adresse suivante k.hidalgo@cerha.fr ou l.dubos@cerha.fr ou par courrier
						adressé à l’une des adresses du siège social de l’un des deux éditeurs en précisant ses nom(s),
						prénom(s) et adresse(s) mail.</p>
			</sectionclass="my-5">

			<section class="my-5">
				<h2 class="text-primary fs-3">Article 3. Propriétés intellectuelles</h2>
				<p>Les contenus de ce site (structure, design, texte, image, animation, logo) sont la propriété
						exclusive de CERHA et de ses éditeurs. Toute représentation totale ou partielle de ce site est
						soumise à l’autorisation préalable, écrite et expresse du directeur de la publication de
						CERHA.</p>
			</sectionclass="my-5">

			<section class="my-5">
				<h2 class="text-primary fs-3">Article 4. Limitation de responsabilité</h2>
				<p>Ce site ne saurait être tenu pour responsable des erreurs rencontrées sur le site, problèmes
						techniques, interprétation des informations publiées et conséquences de leur utilisation. En
						conséquence, l’utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.</p>
			</sectionclass="my-5">
			<section class="my-5">
				<h2 class="text-primary fs-3">Article 5. Contact</h2>
				<p>Pour tout signalement de contenu ou d’activités illicites, l’utilisateur peut contacter l’éditeur à
						l’adresse suivante : k.hidalgo@cerha.fr ou l.dubos@cerha.fr ou par courrier recommandé avec
						accusé de réception adressé à l’éditeur aux coordonnées précisées à l’article 1</p>
			</sectionclass="my-5">
			<section class="my-5">
				<h2 class="text-primary fs-3">Article 6. Réglementation générale de protection des données (RGPD)</h2>
				<a href="https://www.foxrh.com/_files/ugd/3908fb_36bb435af92247c9bacd824d22c6d5a9.pdf">Voir politique de confidentialité</a>
			</sectionclass="my-5">
			<p class="fst-italic">Le site CERHA vous souhaite une excellente navigation.</p>
		</div>

	</main>
{% endblock %}
