{% extends "base.html.twig" %}

{% block body %}
	<h1 class="text-center my-5">Mentions légales :</h1>
	<main class="container d-flex justify-content-around col-md-6 offset-md-3 my-5">
		<div>
			<section>
				<h2 class="text-primary fs-4">Entreprise (siège social) :</h2>
				<p>CERHA, 45160 Olivet</p>
			</section>
			<section>
				<h2 class="text-primary fs-4">Responsables :</h2>
				<p>M. Hildalgo Kévin</p>
				<p>M. Dubos Lionel</p>
			</section>

			<section>
				<h2 class="text-primary fs-4">Mail :</h2>
				<p>contact@cerha.fr</p>
			</section>

			<section>
				<h2 class="text-primary fs-4">N°TVA intracommunautaire :</h2>
				<p></p>
			</section>

			<section>
				<h2 class="text-primary fs-4">Hébergeur :</h2>
				<p></p>
			</section>
		</div>
		<div>
			<section>
				<h2 class="text-primary fs-4">Droits d'auteur :</h2>
				<p></p>
			</section>
			<section>
				<h2 class="text-primary fs-4">Responsabilités :</h2>
				<p></p>
			</section>
		</div>
	</main>
{% endblock %}
