<form method="post" action="{{ path('admin_candidate_comment_delete', {'id': candidatecomment.id}) }}" onsubmit="return confirm('Voulez‑vous vraiment supprimer ce message ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidatecomment.id) }}">
    <button class="btn btn-danger px-3 py-1"><i class="bi bi-trash"></i></button>
</form>
