<form method="post" action="{{ path('admin_candidate_delete', {'id': candidate.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce candidat ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidate.id) }}">
    <button class="btn btn-danger px-3 py-1"><i class="bi bi-trash me-2"></i>Supprimer</button>
</form>
