<form method="post" action="{{ path('admin_candidate_comment_delete', {'id': candidate_comment.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce commentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidate_comment.id) }}">
    <button class="btn btn-danger px-3 py-1"><i class="bi bi-trash"></i></button>
</form>
