{% extends "base.html.twig" %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="build/pdf.css">
{% endblock %}
{% block body %}
<main class="container">
    <div class="row">
        <div class="col">
            <h1>toto</h1>
        </div>
    </div>
</main>
{% endblock %}