{% extends 'base.html.twig' %}

{% block title %}Edit Candidat{% endblock %}

{% block body %}
    <h1>Edit Candidat</h1>

    {{ include('admin_candidate/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_candidate_index') }}">back to list</a>

    {{ include('admin_candidate/_delete_form.html.twig') }}
{% endblock %}
