{% extends 'base.html.twig' %}

{% block title %}New Candidate{% endblock %}

{% block body %}
    <h1>Create new Candidate</h1>

    {{ include('admin_candidate/_form.html.twig') }}

    <a href="{{ path('admin_candidate_index') }}">back to list</a>
{% endblock %}
