{% block stylesheets %}
	{{ encore_entry_link_tags('banner') }}
{% endblock %}
<div class="banner d-flex justify-content-center align-items-start">
	<img class="bannerLogo mt-5" src="{{ asset('build/images/CERHA-logo-detoure.svg') }}" alt="">
</div>
