<div class="col-lg-2 col-md-6 col-xs-8 d-flex justify-content-center align-items-center">
	<a href="#top" class=" btn btn-light rounded-circle">
		<i class="bi bi-arrow-up fs-4 text-primary"></i>
	</a>
</div>
