<div class="container">
	<div class="row g-5">
		<div class="col-lg-5 offset-lg-1">
			<div class="card card-home-service">
				<img src="{{ asset('build/images/business1.jpg') }}" class="card-img-top" alt="...">
				<div class="card-body d-flex flex-column">
					<h3 class="card-title pt-2 px-4">Je suis une entreprise</h3>
					<p class="card-text p-4">Lorem ipsum dolor sit amet. Est sunt voluptatibus aut voluptas eaque ut internos cupiditate fuga sunt autem repellat. Et consequatur galisum non autem sapiente At consequatur debitis rem laborum magni ut sint consequatur. Et quasi unde et laborum velit ea earum commodi rem vitae quaerat et consequatur autem.
					</p>
					<a href="/services#company" class="btn btn-outline-secondary align-self-end me-4">Plus de services
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
							<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="card card-home-service">
				<img src="{{ asset('build/images/particullar.jpg') }}" class="card-img-top" alt="...">
				<div class="card-body d-flex flex-column">
					<h3 class="card-title pt-2 px-4">Je suis un particulier</h3>
					<p class="card-text p-4">Lorem ipsum dolor sit amet. Est sunt voluptatibus aut voluptas eaque ut internos cupiditate fuga sunt autem repellat. Et consequatur galisum non autem sapiente At consequatur debitis rem laborum magni ut sint consequatur. Et quasi unde et laborum velit ea earum commodi rem vitae quaerat et consequatur autem.
					</p>
					<a href="/services#particular" class="btn btn-outline-secondary align-self-end me-4">Plus de services
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
							<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
