{% extends "base.html.twig" %}
{% block footer %}{% endblock %}
{% block body %}
<h1 class="text-center text-primary mt-5">Erreur :</h1>
<h2 class="text-center">Vous devez être authentifié pour aller sur cette page</h2>
{% endblock %}