{% extends "base.html.twig" %}

{% block body %}
<h1 class="text-center mt-5">Erreur :</h1>
<h2 class="text-center">Vous n'avez pas les droits pour accéder à cette page</h2>
{% endblock %}

{% block footer %}{% endblock %}