{% extends "base.html.twig" %}
{% block footer %}{% endblock %}
{% block body %}
<h1 class="text-center text-primary mt-5">Erreur:</h1>
<h2 class="text-center">Le serveur a rencontré un problème</h2>
<p class="text-center text-secondary fs-5">Nous essayons de réparer le problème le plus vite possible</p>
{% endblock %}