<div class="row questions mt-5">
	<div class="card card-questions p-4 col-md-6 offset-md-3">
		<h2 class="card-title text-primary text-center mt-3 pt-2 px-4">Soft skills</h2>
		<h3 class="mx-3 mt-3">Depuis combien de temps êtes-vous en recherche active ?</h3>
		<p>
			<svg class="mx-3" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#e8a006" class="bi bi-arrow-right-circle-fill" viewbox="0 0 16 16">
				<path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
			</svg>
			{{ candidat.timeSearch }}</p>

		<h3 class="mx-3 mt-2">Vous qualifierez votre recherche : d'efficace, pas assez ciblée, vous ne savez pas par où commencer :</h3>

		<p>
			<svg class="mx-3" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#e8a006" class="bi bi-arrow-right-circle-fill" viewbox="0 0 16 16">
				<path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
			</svg>
			{{ candidat.searchQuality }}</p>

		<h3 class="mx-3 mt-2">Vous qualifierez votre profil : d'attractif, de rare, d'atypique, commun :</h3>
		<p>
			<svg class="mx-3" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#e8a006" class="bi bi-arrow-right-circle-fill" viewbox="0 0 16 16">
				<path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
			</svg>
			{{ candidat.profilQuality }}</p>
		<button class="btn btn-secondary align-self-center fw-bold text-light mb-4">Modifier</button>
	</div>
</div>
