<div class="row softskills mt-5" id="candidateSkills">
	<div class="card card-softskills p-4 col-md-6 offset-md-3">
		<a class="btn btn-outline-light ms-5 align-self-end fs-5  bi bi-pencil-square" href=" {{ path('candidat_edit_skill', {'user': candidat.user}) }} ">
			Modifier</a>
		<h2 class="card-title text-primary text-center mt-3 pt-2 px-4">Compétences</h2>
		<ul class="list-unstyled mt-3">
			{% for skill in candidat.skills %}
				<h3 class=" mx-3 text-secondary">
					{{ skill.sector.name }}</h3>
				<i class="bi bi-check-lg mx-3 "></i>
				{{ skill.name }}
			{% else %}
				Aucune information disponible.
			{% endfor %}
		</ul>
	</div>
</div>
