<form method="post" action="{{ path('admin_employee_delete', {'id': employee.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce commentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
    <button class="btn btn-danger px-3 py-1"><i class="bi bi-trash text-light"></i></button>
</form>
