{% extends 'base-admin.html.twig' %}

{% block title %}Edit Employee
{% endblock %}

{% block body %}
	<div class="container m-5">
		<h1>Edit Employee</h1>

		{{ include('admin_employee/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('admin_employee_index') }}">back to list</a>

		{{ include('admin_employee/_delete_form.html.twig') }}
	</div>
{% endblock %}
