{% extends 'base-admin.html.twig' %}

{% block title %}
	{{ parent() }}
	- Modifier un membre
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('forms') }}
{% endblock %}

{% block body %}
	<main class="container m-5">
		<h1 class="text-center">Modifier un membre</h1>
		<div class="col-md-6 et offset-md-3 fs-4 my-5 text-info edit_form">
			{{ include('admin_employee/_form.html.twig') }}
		</div>
		{{ include('admin_employee/_delete_form.html.twig') }}
	</main>
{% endblock %}
