{% extends 'base-admin.html.twig' %}

{% block title %}New Employee
{% endblock %}

{% block body %}
	<div class="container m-5">
		<h1>Create new Employee</h1>

		{{ include('admin_employee/_form.html.twig') }}

		<a href="{{ path('admin_employee_index') }}">back to list</a>
	</div>
{% endblock %}
