{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	- Mon profil
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('profile') }}
	{{ encore_entry_link_tags('sideMenu') }}
{% endblock %}


{% block body %}
	<div class="container my-5">
		<h1 class="text-center mb-4" id="top">Profil n°
			{{ candidate.id }}</h1>
		{% include "candidate/components/_skills.html.twig" %}
		{% include "candidate/components/_formations.html.twig" %}
		{% include "candidate/components/_experiences.html.twig" %}
		{% include "candidate/components/_soft-skills.html.twig" %}
		{% include "candidate/components/_languages.html.twig" %}
		{% include "candidate/components/_hobbies.html.twig" %}
		{% include "candidate/components/_complementary-questions.html.twig" %}
	</div>

	{% include 'items/_return.html.twig' %}
</div>{% endblock %}
