<nav class="sideMenu d-flex flex-column justify-content-start align-items-start">
	<h2 class="text-light fs-3 mt-4 px-4 pb-4 text-break">{{ company.denomination }}</h2>
	<div class="navbar-nav mt-4 px-4">
		<a class="nav-link fs-5 my-2" href="#companyDetails">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Informations
		</a>
		<a class="nav-link fs-5 my-2" href="#companyContact">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Contact
		</a>
		<a class="nav-link fs-5 my-2" href="#companyNeed">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Description
		</a>
	</div>
</nav>
