<form method="post" action="{{ path('admin_company_comment_delete', {'id': company_comment.id}) }}" onsubmit="return confirm('Voulez‑vous vraiment supprimer ce message ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company_comment.id) }}">
    <button class="btn btn-danger px-3 py-1"><i class="bi bi-trash text-light"></i></button>
</form>
