{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Administration candidats{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('adminCandidate') }}
{% endblock %}

{% block body %}
    <h1>Create new Company</h1>

    {{ include('admin_company/_form.html.twig') }}

    <a href="{{ path('admin_company_index') }}">back to list</a>
{% endblock %}
